.header-wrapper
	.bg-img
		img(src="../img/backgrounds/bg-cocktails.jpg", alt="")
	include ../header/header	
	.container
		.content-main.coctails-main
			.content-desc.coctails-desc
				h1
					|Коктейльная карта
				p
					|Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem quod aspernatur quia odio distinctio in harum quasi, at porro expedita corrupti id voluptate autem aperiam cupiditate sapiente maxime doloribus ipsum!