.header-wrapper
	.bg-img
		img(src="./img/backgrounds/bg-header.jpg", alt="")
	include ../header/header	
	.container
		.content-main
			.content-desc.page-desc
				h1
					|Калькулятор бара
				p
					|Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem quod aspernatur quia odio distinctio in harum quasi, at porro expedita corrupti id voluptate autem aperiam cupiditate sapiente maxime doloribus ipsum!