.cocktails-section {
    margin: 40px 0;
    .break-line {
        margin-bottom: 50px;

        @include media-tablet {
            & {
                margin-bottom: 100px;
            }
        }
    }
}

.cocktails-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media-tablet {
        & {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
}

.cocktails-list__item {
    border: 1px solid rgb(237, 237, 237);
    margin-bottom: 20px;
    width: 370px;
    @include media-tablet {
        & {
            width: 30%;
        }
    }
    .list-item__img {
        margin-bottom: 35px;
    }

    .list-item__desc {
        font-size: 1.4rem;
        text-align: center;

        .item-title {
            color: #0a0a0a;
            font-weight: 600;
            font-size: 2rem;
            margin-bottom: 30px;
            padding: 0 10px;
            letter-spacing: 0.5px;
            font-family: "Akaya Kanadaka", cursive;
        }

        .item-desc {
            color: #747474;
            font-weight: 400;
            padding-bottom: 20px;
            padding-left: 20px;
            padding-right: 20px;
            text-transform: lowercase;
        }
    }

    .item-order {
        display: flex;
        flex-direction: column;
        align-items: center;
        .item-amount {
            text-align: center;
            width: 50px;
            height: 30px;
            margin-bottom: 5px;
            font-weight: 600;
            border: 1px solid #a0ce4e;
            border-radius: 5px;
            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
                opacity: 1;
            }
        }
    }
}

.cocktail-btns {
    text-align: center;
    margin-bottom: 40px;
}

.btn {
    &.btn-cocktail {
        border: none;
        color: #333333;
        &:hover {
            color: #a0ce4e;
        }
        &.control-active {
            color: #a0ce4e;
        }
    }
}

.cocktails-misc {
    color: #747474;
    padding-top: 40px;

    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    @include media-tablet {
        & {
            padding-left: 100px;
            padding-right: 100px;
        }
    }
    @include media-pc {
        & {
            padding-left: 200px;
            padding-right: 200px;
        }
    }
}

.shopping-cart {
    min-width: 50px;
    width: fit-content;
    padding: 5px 0;
    background: #a0ce4e;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 2px solid #a0ce4e;
    position: fixed;
    top: 100px;
    right: 0;
    
    .cart-icon {
        text-align: center;

        .shop-icons {
            font-size: 3rem;
        }
    }

    .cart-item {
        display: flex;
        justify-content: center;
        font-size: 2rem;
        padding: 5px;
        .cocktail-title {
            margin-right: 5px;
        }
        .cocktail-amount {
            width: 50px;
            border: none;
            font-weight: 600;
            font-size: 1.5rem;
			text-align: center;
            border: 1px solid rgba(255, 255, 255, 0.5);
            border-radius: 5px;
            background: #a0ce4e;
        }
    }

    .break-line {
        margin-bottom: 0px;
    }

    .btn.btn-calc {
        color: black;
        border-color: black;
        &:hover {
            color: rgba(0, 0, 0, 0.7);
            border-color: rgba(0, 0, 0, 0.7);
        }
    }

    .break-line.upside-down {
        &::after {
            background: radial-gradient(
                ellipse at 50% 150%,
                rgba(0, 0, 0, 0.5) 0,
                rgba(255, 255, 255, 0) 65%
            );
        }
    }
    .shop-btn {
        text-align: center;
    }
}
