footer.footer
	.container
		.footer_logo
			img(src="https://place-hold.it/120x110", alt="")
		.footer_social
			div.social-item
				img(src="https://place-hold.it/25x25", alt="")
			div.social-item
				img(src="https://place-hold.it/25x25", alt="")
		h4.footer_placework
			|Sitename Since 2021
		.footer_nav
			.footer_nav-item
				h3.footer_nav-item-header Выездной бар	
				ul.footer_list 
					li.footer_list-item
						a(href="#") Коктейльный бар на выезд
					li.footer_list-item
						a(href="#") Пивной бар на выезд
					li.footer_list-item
						a(href="#") Кофейный бар на выезд
					li.footer_list-item
						a(href="#") Бар горячих напитков на выезд
					li.footer_list-item
						a(href="#") Безалькогольный бар на выезд
					li.footer_list-item
						a(href="#") Аренда барных стоек
					li.footer_list-item
						a(href="#") Брендирование
			.footer_nav-item
				h3.footer_nav-item-header Кейтеринг
				ul.footer_list 
					li.footer_list-item
						a(href="#") Стрит фуд
					li.footer_list-item
						a(href="#") Фан-кейтеринг
					li.footer_list-item
						a(href="#") Интерактивы
					li.footer_list-item
						a(href="#") Кофе-брейки
					li.footer_list-item
						a(href="#") Выставки
					li.footer_list-item
						a(href="#") Фудтрак
			.footer_nav-item
				h3.footer_nav-item-header Контакты
				ul.footer_list 
					li.footer_list-item
						a(href="#") Email
					li.footer_list-item
						a(href="#") Phone
					li.footer_list-item
						a(href="#") Address
					li.footer_list-item
						a(href="#") Агенствам
					li.footer_list-item
						a(href="#") Все услуги
		.footer_disclaimer
			p 
				|Внимание! Чрезмерное употребление алкоголя вредит вашему здоровью.<br>Мы не продаем алкогольную продукцию. Цены указаны как приблизительная совокупность затрат заказчика с учетом предоставления алкогольной продукции заказчиком.<br><strong>Обращаем ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой.</strong> Внешний вид и характеристики блюд, напитков, оборудования, стоек может отличаться от фотографий на сайте. Для получения подробной информации о наличии и стоимости указанных товаров и (или) возможности оказания услуг, пожалуйста, обращайтесь к менеджерам отдела продаж. С любыми другими проблемами обращайтесь в спортлото.
		.footer_rights
			span © All Right Reserved. Boomboombar.				