header.header
		.header-wrapper__top
			.container
				nav.header-nav
						.logo
							a(href="#!")
								img(src="https://place-hold.it/100x50&text=Logo&fontsize=24", alt="") 
						button(type="button").btn.order-call
							|Заказать звонок
						include ./header-nav.pug
						.toggle-menu
							span
						nav.header-sidemenu
							.sidemenu-content
								ul
									li
										a(href="#!").link.link--aside О компании
									li
										a(href="#!").link.link--aside Услуги
									li
										a(href="#!").link.link--aside Коктейли
									li
										a(href="#!").link.link--aside Портфолио
									li
										a(href="#!").link.link--aside Контакты
		//-target="_blank
		.header-wrapper__center
			.container
				.content-main
					.content-desc
						h1
							|Выездной коктейль бар
						p
							|Выездной коктейль бар &mdash; отличный способ удивить гостей и разнообразить ассортимент напитков
					.content-calcbtn
						a.btn.btn-calc(href="#!") Калькулятор