ul.header-nav__list
	li.nav-list__item
		a(href="#!").link
			|О компании
	li.nav-list__item
		a(href="#!").link
			|Услуги
		.sub_menu
			.sub_menu-item
				h3.item-title
					|Классические бары
				ul.menu_item-list
					li
						a(href="#!") Элемент списка
					li
						a(href="#!") Элемент списка
					li
						a(href="#!") Элемент списка
					li
						a(href="#!") Элемент списка
					li
						a(href="#!") Элемент списка
			.sub_menu-item
				h3.item-title
					|Безалкогольные бары
				ul.menu_item-list
					li
						a(href="#!") Элемент списка
					li
						a(href="#!") Элемент списка
					li
						a(href="#!") Элемент списка
					li
						a(href="#!") Элемент списка
					li
						a(href="#!") Элемент списка
			.sub_menu-item
				h3.item-title
					|Тематические бары
				ul.menu_item-list
					li
						a(href="#!") Элемент списка
					li
						a(href="#!") Элемент списка
					li
						a(href="#!") Элемент списка
					li
						a(href="#!") Элемент списка
					li
						a(href="#!") Элемент списка
			.sub_menu-item
				h3.item-title
					|Допольнительно
				ul.menu_item-list
					li
						a(href="#!") Элемент списка
					li
						a(href="#!") Элемент списка
					li
						a(href="#!") Элемент списка
					li
						a(href="#!") Элемент списка
					li
						a(href="#!") Элемент списка
			.sub_menu-item
			.sub_menu-item
				h3.item-title
					|Новинки
				ul.menu_item-list
					li
						a(href="#!") Элемент списка
					li
						a(href="#!") Элемент списка
					li
						a(href="#!") Элемент списка
					li
						a(href="#!") Элемент списка
					li
						a(href="#!") Элемент списка
	li.nav-list__item
		a(href="#!").link
			|Коктейли
	li.nav-list__item
		a(href="#!").link
			|Портфолио
	li.nav-list__item
		a(href="#!").link
			|Контакты
	li.make_call-block
		a(href="tel:+7(999)999-99-99").link +7(999)999-99-99
		button(type="button").btn.order-call Заказать звонок