.header-wrapper
	.bg-img
		img(src="../img/backgrounds/bg-header.jpg", alt="")
	include ../header/header	
	.container
		.content-main
			.content-desc
				h1
					|Выездной коктейль бар
				p
					|Выездной коктейль бар &mdash; отличный способ удивить гостей и разнообразить ассортимент напитков
			.content-calcbtn
				a.btn.btn-calc(href="#!") #[+icon("pencil","btn-icons")] Калькулятор