include ../../mixins/svgMixin
section.works-section
	.container
		.section-content
			h2.section-title.section-title--works 
				|Наши работы
			.gallery
				a(data-fancybox="gallery" href="./img/img/img1.jpg") 
					img(src="./img/img_thumbs/img1_tn.jpg", alt="")
				a(data-fancybox="gallery" href="./img/img/img2.jpg") 
					img(src="./img/img_thumbs/img2_tn.jpg", alt="")
				a(data-fancybox="gallery" href="./img/img/img3.jpg") 
					img(src="./img/img_thumbs/img3_tn.jpg", alt="")
				a(data-fancybox="gallery" href="./img/img/img4.jpg") 
					img(src="./img/img_thumbs/img4_tn.jpg", alt="")
				a(data-fancybox="gallery" href="./img/img/img5.jpg") 
					img(src="./img/img_thumbs/img5_tn.jpg", alt="")
				a(data-fancybox="gallery" href="./img/img/img6.jpg") 
					img(src="./img/img_thumbs/img6_tn.jpg", alt="")
			p.section-desc
				|Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quo natus a cumque voluptas, qui omnis quia nulla libero quaerat autem veritatis fuga, at saepe tempore ipsam, beatae nam vel.
			.section-portfolio
			.section-desc
				|Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam accusamus nam minima nisi enim dignissimos odio, consequatur provident quam sit inventore, ad quia repellendus expedita at placeat minus saepe repudiandae?
			.portfolio-btn
				a(href="#!").btn #[+icon("book","btn-icons")] Портфолио 
