section.bar-section
	.container
		.section-content
			h2.section-title
				|Выездной бар
			p.section-desc
				|Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quo natus a cumque voluptas, qui omnis quia nulla libero quaerat autem veritatis fuga, at saepe tempore ipsam, beatae nam vel.
			.section-bar-type
				.bar-type__item
					a(href="#!") 
						img(src="https://place-hold.it/370x480", alt="")
					h4.bar-title
						|Коктейльный бар
				.bar-type__item
					a(href="#!") 
						img(src="https://place-hold.it/370x480/brown", alt="")
					h4.bar-title
						|Безалкогольный бар
				.bar-type__item
					a(href="#!") 
						img(src="https://place-hold.it/370x480", alt="")
					h4.bar-title
						|Оригинальный бар
				.bar-type__item
					a(href="#!") 
						img(src="https://place-hold.it/370x480/brown", alt="")
					h4.bar-title
						|Кейтеринг
				.bar-type__item
					a(href="#!") 
						img(src="https://place-hold.it/370x480", alt="")
					h4.bar-title
						|Фуд стрит
			p.section-desc
				|Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quo natus a cumque voluptas, qui omnis quia nulla libero quaerat autem veritatis fuga, at saepe tempore ipsam, beatae nam vel.