@import "../utils/vars";
@import "../mixins/media";
@import "../base/sprite";
@import "../blocks/header";
@import "../blocks/mainpage/mainpage";
@import "../blocks/cocktails/cocktails";
@import "../blocks/footer";
@import "../blocks/modals/modal-callback";

.container {
    width: auto;
    margin: 0 auto;
    padding: 0 15px;

    @include media-tablet {
        & {
            max-width: $mediaWidthTablet;
        }
    }

    @include media-pc {
        & {
            max-width: $mediaWidthPC;
        }
    }
}

.btn {
    cursor: pointer;
    display: inline-block;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: #a0ce4e;
    font-weight: 700;
    border: 2px solid #a0ce4e;
    border-radius: 25px;
    padding: 10px 25px;
    transition: all 0.2s;

    &:hover {
        color: #86a83e;
        border-color: #86a83e;
    }
}

.link {
    cursor: pointer;
    display: block;
    color: white;
    transition: all 0.5s ease;
    &:hover {
        color: #86a83e;
    }
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
    display: none;

    &.active {
        display: block;
    }
}

.btn-icons {
    font-size: 1.3rem;
    margin-right: 5px;
}

.shop-icons {
    font-size: 2rem;
}

.user-select--none {
    user-select: none;
}

.user-select--all {
    user-select: all;
}
