.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-telegram {
	font-size:(512/10)*1rem;
	width:(448/512)*1em;
}
.icon-whatsapp {
	font-size:(512/10)*1rem;
	width:(448/512)*1em;
}
