include ../../layouts/vars

ul.nav__list
	li.nav-list__item
		a(href="#!").link
			|О компании
	li.nav-list__item
		a(href="#!").link
			|Услуги
		.sub-menu
			.sub-menu-item
				h3.item-title
					|Классические бары
				ul.menu_item-list
					li
						a(href="#!") Элемент списка
					li
						a(href="#!") Элемент списка
					li
						a(href="#!") Элемент списка
					li
						a(href="#!") Элемент списка
					li
						a(href="#!") Элемент списка
					li
						a(href="#!") Элемент списка
			.sub-menu-item
				h3.item-title
					|Безалкогольные бары
				ul.menu_item-list
					li
						a(href="#!") Элемент списка
					li
						a(href="#!") Элемент списка
					li
						a(href="#!") Элемент списка
					li
						a(href="#!") Элемент списка
					li
						a(href="#!") Элемент списка
			.sub-menu-item
				h3.item-title
					|Тематические бары
				ul.menu_item-list
					li
						a(href="#!") Элемент списка
					li
						a(href="#!") Элемент списка
					li
						a(href="#!") Элемент списка
					li
						a(href="#!") Элемент списка
					li
						a(href="#!") Элемент списка
			.sub-menu-item
				h3.item-title
					|Допольнительно
				ul.menu_item-list
					li
						a(href="#!") Элемент списка
					li
						a(href="#!") Элемент списка
					li
						a(href="#!") Элемент списка
					li
						a(href="#!") Элемент списка
					li
						a(href="#!") Элемент списка
			.sub-menu-item
			.sub-menu-item
				h3.item-title
					|Новинки
				ul.menu_item-list
					li
						a(href="#!") Элемент списка
					li
						a(href="#!") Элемент списка
					li
						a(href="#!") Элемент списка
					li
						a(href="#!") Элемент списка
					li
						a(href="#!") Элемент списка
	li.nav-list__item
		a(href=cocktails).link
			|Коктейли
	li.nav-list__item
		a(href="#!").link
			|Кейтеринг
	li.nav-list__item
		a(href=portfolio).link
			|Портфолио
	li.nav-list__item
		a(href="#!").link
			|Контакты
	li.make-call-block
		a(href="tel:+7(999)999-99-99").link +7(999)999-99-99
		button(type="button" data-makecall="").btn.order-call Заказать звонок