@import "../mixins/media";
@import "../base/sprite";

.footer {
    padding: 40px 0;
}

.footer-contacts {
    margin-bottom: 35px;
}

.contacts-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    @include media-pc {
        & {
            margin-left: 20px;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

.contacts-list__item {
    & + & {
        margin-top: 25px;
        @include media-pc {
            & {
                margin-top: 0;
            }
        }
    }

    .item-title {
        font-size: 2rem;
        font-weight: 500;
        color: black;

        &.title--hover:hover {
            color: rgba(0, 0, 0, 0.5);
        }
    }

    .item-desc {
        margin-top: 15px;
        color: #808080;
        font-size: 1.2rem;
        font-weight: 500;
    }
}

.misc-contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    @include media-pc {
        & {
            flex-direction: row;
        }
    }
}

.misc-contacts__item {
    & + & {
        margin-top: 20px;
        @include media-pc {
            & {
                margin-top: 0;
                margin-left: 20px;
            }
        }
    }
}

.copyright {
    font-size: 1.2rem;
    font-weight: 500;
    color: #808080;
    text-align: center;
}

.social-block__item {
    color: black;
    & + & {
        margin-left: 15px;
    }

    &:hover {
        color: rgba(0, 0, 0, 0.5);
    }
}

.social-icons {
    font-size: 3rem;
}

.nav-wrapper {
    margin-bottom: 60px;
    display: none;
    @include media-pc {
        & {
            display: block;
        }
    }
}

.break-line {
    &:after {
        content: "";
        display: block;
        height: 6px;
        width: 100%;
        background: radial-gradient(
            ellipse at 50% -50%,
            rgba(0, 0, 0, 0.5) 0,
            rgba(255, 255, 255, 0) 65%
        );
    }
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.footer-nav__list {
    .nav-list__item {
        .link {
            color: black;
            line-height: 1;
            &:hover {
                color: #86a83e;
            }
        }
    }
}
