@import "../blocks/mainpage_sections/section_order";

.section-content {
    padding: 50px 0;
}

.section-title {
    font-size: 4.8rem;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}

.section-title--order {
    color: white;
}
