extends ../layouts/master-page.pug

block variables
	- var title = "Калькулятор бара | Sitename";

block content
	include ../sections/bar-calc/bar-calc_header.pug	
	include ../sections/bar-calc/bar-calc_content.pug
	include ../sections/footer/footer.pug