extends ../layouts/master-page.pug

block variables
	- var title = "Коктейли | Sitename";

block content
	include ../sections/cocktails/cocktails_header
	include ../sections/cocktails/cocktails_content
	include ../sections/footer/footer