extends ../layouts/master-page.pug

block variables
	- var title = "Контакты | Sitename";

block content
	include ../sections/mainpage/mainpage_header.pug	
	include ../sections/contacts/contacts_content.pug
	include ../sections/footer/footer.pug
	