extends ../layouts/master-page.pug

block variables
	- var title = "Sitename";

block content
	include ../sections/header.pug
	include ../sections/mainpage_content.pug
	include ../sections/footer.pug
