extends ../layouts/master-page.pug

block variables
	- var title = "Sitename";

block content
	include ../sections/mainpage/mainpage_header.pug	
	include ../sections/mainpage/mainpage_content.pug
	include ../sections/footer/footer.pug
