@import url(../../node_modules/normalize.css/normalize.css);

.header {
  color: white;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100px;
  max-width: 1170px;
  padding: 0 30px;
}

@media (min-width: 1200px) {
  .header-nav {
    padding: 0;
  }
}

.header-content-top {
  background: white;
}

@media (min-width: 1200px) {
  .header-content-top {
    background-color: black;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.header-content-center {
  background: url("../img/header/bg.jpg") no-repeat right bottom/cover black;
}

@media (min-width: 1200px) {
  .header-content-center {
    background-color: black;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.header-logo {
  margin: 0 20px;
}

.content-main {
  padding: 50px 50px 100px;
}

@media (min-width: 1200px) {
  .content-main {
    min-height: 550px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.content-desc {
  text-align: left;
  margin-bottom: 40px;
}

.content-desc h1 {
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 60px;
  margin-bottom: 25px;
}

.content-desc p {
  margin: 5px 0;
  font-size: 1.6rem;
  line-height: 25px;
  font-weight: 400;
}

@media (min-width: 768px) {
  .content-desc {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .content-desc {
    padding-right: 90px;
  }
}

.content-calcbtn {
  margin-bottom: 20px;
}

.btn.order-call {
  padding: 0;
  border: none;
  background: none;
  display: none;
}

@media (min-width: 768px) {
  .btn.order-call {
    display: inline-block;
  }
}

@media (min-width: 1200px) {
  .btn.order-call {
    display: none;
  }
}

.header-nav__list {
  font-weight: 700;
  font-size: 1.3rem;
  text-transform: uppercase;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}

.header-nav__list > .nav-list__item:hover .sub_menu {
  opacity: 1;
  height: auto;
}

@media (min-width: 1200px) {
  .header-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav-list__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.nav-list__item + .nav-list__item {
  margin-left: 35px;
}

.nav-list__item .link {
  height: 100%;
  line-height: 100px;
}

.sub_menu {
  background: black;
  overflow: hidden;
  position: absolute;
  width: 1100px;
  left: 0;
  top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  height: 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-top: 3px solid #a0ce4e;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  -webkit-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.sub_menu > * {
  width: 33.33%;
  height: 240px;
}

.sub_menu-item {
  background: url("../img/header/menu-items/menu-item-1.jpg") no-repeat 0 0/cover;
  padding: 30px 0;
}

.sub_menu-item .item-title {
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  padding-bottom: 25px;
  text-transform: uppercase;
}

.menu_item-list {
  padding: 0 35px;
}

.menu_item-list li {
  width: 100%;
  padding: 5px 0;
}

.menu_item-list li a {
  display: block;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 400;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
}

.menu_item-list li a:hover {
  text-decoration: underline;
}

.menu_item-list li a:before {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: -10px;
  border-top: 3.5px solid transparent;
  border-bottom: 3.5px solid transparent;
  border-left: 4px solid white;
}

.make_call-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 35px;
}

.make_call-block .link {
  margin-bottom: 10px;
  font-size: 1.4rem;
}

.make_call-block .btn {
  font-size: 1.1rem;
}

@media (min-width: 1200px) {
  .make_call-block .btn.order-call {
    display: inline-block;
  }
}

.toggle-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 10;
}

.toggle-menu span {
  background: black;
  position: relative;
  width: 100%;
  height: 2px;
  margin: auto;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.toggle-menu span::after,
.toggle-menu span::before {
  background: black;
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  left: 0;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.toggle-menu span::after {
  top: -7px;
}

.toggle-menu span::before {
  bottom: -7px;
}

.toggle-menu.active span {
  background: transparent;
}

.toggle-menu.active span::after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0;
}

.toggle-menu.active span::before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  bottom: 0;
}

@media (min-width: 1200px) {
  .toggle-menu {
    display: none;
  }
}

.header-sidemenu {
  background: white;
  z-index: 9;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: 0;
  bottom: 0;
  right: -400px;
  width: 100%;
  max-width: 400px;
  opacity: 0.95;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header-sidemenu.active {
  right: 0;
}

.sidemenu-content {
  width: 100%;
}

.sidemenu-content > ul {
  text-align: center;
  text-transform: uppercase;
}

.sidemenu-content > ul li {
  text-align: center;
}

.sidemenu-content > ul li .link--aside {
  color: #333333;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 70px;
}

.sidemenu-content > ul li .link--aside:hover {
  background: #dadada;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-telegram {
  font-size: 51.2rem;
  width: 0.875em;
}

.icon-whatsapp {
  font-size: 51.2rem;
  width: 0.875em;
}

.footer {
  background: #1f1f1f;
  padding-top: 30px;
  padding-bottom: 20px;
  color: white;
  font-size: 1.2rem;
}

.footer_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
}

.footer_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  margin: 30px 0;
}

.footer_sitename {
  font-weight: 300;
  letter-spacing: 0.5px;
}

.social-item {
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.social-item svg {
  width: 25px;
}

.social-item + .social-item {
  margin-left: 10px;
}

.social-item::after {
  background: white;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 50%;
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.social-item.item-telegram:hover::after {
  background: #26a5e4;
}

.social-item.item-whatsapp:hover::after {
  background: #25d366;
}

.social-item.item-instagram:hover::after {
  background: #e4405f;
}

.social-item.item-facebook:hover::after {
  background: #1877f2;
}

.social-item.item-facebook svg {
  width: 15px;
}

.footer_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media (min-width: 768px) {
  .footer_nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 50px;
  }
}

@media (min-width: 1200px) {
  .footer_nav {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding: 0;
  }
}

.footer_list {
  padding: 0;
  margin: 0;
}

.footer_list a {
  font-size: 1.2rem;
  line-height: 1.55;
}

.footer_list a:hover {
  text-decoration: underline;
}

@media (min-width: 1200px) {
  .footer_list a {
    font-size: 1.4rem;
  }
}

.footer_nav-item-header {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

@media (min-width: 1200px) {
  .footer_nav-item-header {
    font-size: 1.6rem;
  }
}

.footer_nav-item + .footer_nav-item {
  margin-top: 30px;
}

@media (min-width: 768px) {
  .footer_nav-item + .footer_nav-item {
    margin-top: 0;
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .footer_nav-item + .footer_nav-item {
    margin-bottom: 0;
    padding-left: 30px;
  }
}

@media (min-width: 768px) {
  .footer_nav-item {
    width: 50%;
  }

  .footer_nav-item:nth-last-child(2) {
    margin-bottom: 0;
  }

  .footer_nav-item:nth-child(2n-1) {
    padding-right: 30px;
  }

  .footer_nav-item:nth-child(2n) {
    padding-left: 30px;
  }
}

@media (min-width: 1200px) {
  .footer_nav-item:nth-child(2n-1) {
    padding-right: 0;
  }

  .footer_nav-item:nth-last-child(2n) {
    padding-left: 65px;
  }
}

.footer_list-item {
  font-weight: 300;
}

.footer_list-item + .footer_list-item {
  margin-top: 10px;
}

.footer_disclaimer {
  position: relative;
  margin-top: 50px;
  padding-top: 1px;
  font-weight: 300;
}

.footer_disclaimer::before {
  background: white;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
}

.footer_disclaimer p {
  text-align: center;
  line-height: 1.55;
}

@media (min-width: 1200px) {
  .footer_disclaimer {
    font-size: 1.4rem;
  }
}

.icon-telegram {
  font-size: 5rem;
}

.icon-telegram.red_mod {
  color: red;
}

.footer_rights {
  text-align: center;
  font-weight: 700;
}

@media (min-width: 1200px) {
  .footer_rights {
    font-size: 1.4rem;
  }
}

.container {
  width: auto;
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.btn {
  cursor: pointer;
  display: inline-block;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #a0ce4e;
  font-weight: 700;
  border: 2px solid #a0ce4e;
  border-radius: 25px;
  padding: 10px 25px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.btn:hover {
  color: #86a83e;
  border-color: #86a83e;
}

.link {
  cursor: pointer;
  display: block;
  color: white;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.link:hover {
  color: #86a83e;
}

#overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  display: none;
}

#overlay.active {
  display: block;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}