include ../../layouts/vars

.nav-wrapper
	nav.footer-nav
		.logo
			a(href="#!")
				img(src="https://place-hold.it/100x50&text=Logo&fontsize=24", alt="")
		ul.nav__list.footer-nav__list
			li.nav-list__item
				a(href="#!").link
					|О компании
			li.nav-list__item
				a(href="#!").link
					|Услуги
			li.nav-list__item
				a(href="#!").link
					|Коктейли
			li.nav-list__item
				a(href=portfolio).link
					|Портфолио
			li.nav-list__item
				a(href="#!").link
					|Контакты
	.break-line