-var portfolio = "portfolio.html";
-var cocktails = "cocktails.html";
-var bar_calc = "calculator.html";
-var index = "index.html";
-var contacts = "contacts.html";
- var phone = "+7(999)999-99-99"
- var mail = "info@sitename.ru"
-var address = "г. Москва"
